@font-face {
  font-family: "ProximaNova";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Scriptina";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SCRIPTIN.eot");
  src: url("../fonts/SCRIPTIN.eot?#iefix") format("embedded-opentype"), url("../fonts/SCRIPTIN.woff") format("woff"), url("../fonts/SCRIPTIN.ttf") format("truetype"); }

@font-face {
  font-family: "Alegreya";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Alegreya-Regular.eot");
  src: url("../fonts/Alegreya-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Alegreya-Regular.woff") format("woff"), url("../fonts/Alegreya-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  margin: 0;
  overflow-x: hidden; }
  body .site-header {
    height: 100vh;
    min-height: 900px;
    background-repeat: no-repeat; }

.container {
  width: 1260px;
  margin: 0 auto; }

.b-header__wrap {
  background: rgba(86, 83, 76, 0.72);
  height: 70px; }

.header-sl {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  padding-top: 18px; }
  .logo a {
    color: white; }

.navigation ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.navigation li {
  list-style-type: none;
  margin: 0 40px; }

.navigation a {
  color: white;
  text-decoration: none;
  font-family: 'Alegreya', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px; }

.social-icons ul {
  display: -webkit-flex;
    display-display: -moz-flex;
    display-display: -ms-flex;
    display-display: -o-flex;
    display-display: flex;
    display-flex-direction: row;
    display-flex-wrap: wrap; }
  .social-icons ul li {
    list-style-type: none;
    margin: 0 25px; }

.b-header__banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative; }
  .b-header__banner .bullets {
    background: url(../img/bullets.png);
    height: 100px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    bottom: 20px; }
  .b-header__banner__inner {
    margin: auto; }
  .b-header__banner__text {
    text-align: center;
    position: relative;
    bottom: 169px;
    left: 43px; }
    .b-header__banner__text h1 {
      font-family: 'PlayfairDisplay',sans-serif;
      font-size: 92px;
      color: white;
      margin: 0;
      letter-spacing: 7px; }
    .b-header__banner__text p {
      font-family: 'ProximaNova','MyriadPro';
      font-size: 24px;
      color: white;
      letter-spacing: 2px;
      margin: 136px 0 0 0; }
    .b-header__banner__text .button {
      display: inline-block;
      border: none;
      top: 55px;
      color: #fff;
      text-decoration: none;
      background-color: rgba(86, 83, 76, 0.6);
      padding: 15px 53px;
      font-size: 14px;
      font-family: 'Alegreya',sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      text-align: center;
      position: relative;
      outline: none;
      -webkit-transition: background-color .1s ease;
      -o-transition: background-color .1s ease;
      transition: background-color .1s ease;
      cursor: pointer; }
      .b-header__banner__text .button::after {
        -webkit-transition: background-color .2s ease;
        -o-transition: background-color .2s ease;
        transition: background-color .2s ease;
        position: absolute;
        content: '';
        height: 4px;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: .18;
        -webkit-border-bottom-left-radius: 2px;
                border-bottom-left-radius: 2px;
        -webkit-border-bottom-right-radius: 2px;
                border-bottom-right-radius: 2px;
        left: 0; }
      .b-header__banner__text .button:focus, .b-header__banner__text .button:hover {
        text-decoration: none;
        color: #fff; }
      .b-header__banner__text .button:hover {
        background-color: rgba(100, 96, 88, 0.6); }
        .b-header__banner__text .button:hover::after {
          opacity: .22; }
      .b-header__banner__text .button:active {
        background-color: rgba(72, 70, 64, 0.6); }
        .b-header__banner__text .button:active::after {
          opacity: .32; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

::-moz-selection {
  color: #fff; }

::selection {
  color: #fff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
