html,body
	     height 100%
	     padding 0
	     margin 0


body
	  font-size 16px
	  min-width 320px
	  overflow-x hidden
	  position relative
  
&.is-home
    .site-header
	    height 100vh
	    width 100vw
	    background-repeat no-repeat
	    background-size 100% 100%
	    


	 
  
  
.container
		  width 1280px
		  margin 0 auto
		  display -webkit-flex
		  display -moz-flex
		  display -ms-flex
		  display -o-flex
		  display flex
		 
	     

	 	

		   
		 
	       
	       
	       
	  

.header-wrap
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			







