$default-font: "﻿ProximaNova"
$default-Myriad: "﻿MyriadPro"
$B-Montserrat: "Montserrat-bd"
$default-Axis: "Axis-ex"
// colors
$Montserrat: #000
$Axis: #1e2633
$span: #985e5b
$Montserrat-p: #404040
$default-color: rgb(255,255,255);

//font-size
$small-size: 14pt
	